@using Sim.UI.Web.Pages.Triagem

<div class="navbar navbar-fixed">
    <nav class="navbar">
        <div class="nav-wrapper white">
            <a class="brand-logo black-text" style="margin-left:10px;">Equipes de Atendimento</a>
            <ul class="right">
                <li class="blue lighten-1 waves-effect waves-light"><a asp-area="" asp-page="./Index">Atualizar Pagina</a></li>
            </ul>
        </div>
    </nav>
</div>
