@using Sim.UI.Web.Pages.Atendimento


<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <a class="nav-link @AtendimentoNavPages.InicioNavClass(ViewContext)" asp-page="./Index"><i class="fas fa-home"></i> Inicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @AtendimentoNavPages.AtendiementoNavClass(ViewContext)" asp-page="./Novo"><i class="fas fa-stopwatch"></i> Atendimento</a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle @AtendimentoNavPages.ConsultaNavClass(ViewContext)" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><i class="fas fa-search"></i> Consultar</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-page="./Consulta">por Data</a></li>
            <li><a class="dropdown-item" asp-page="./Consulta.ByPF">por CPF</a></li>
            <li><a class="dropdown-item" asp-page="./Consulta.ByPJ">por CNPJ</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" asp-page="./Consulta.Pendencias">Pendencias</a></li>
            <li><a class="dropdown-item" asp-page="./Consulta.Cancelados">Cancelados</a></li>
        </ul>
    </li>
    <li class="nav-item" hidden>
        <a class="nav-link" href="#"><i class="fas fa-clipboard-list"></i> Relatórios</a>
    </li>
</ul>
