@page
@model Sim.UI.Web.Pages.Atendimento.ConsultaModel
@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Consultas por Periodos";
    ViewData["ActivePage"] = AtendimentoNavPages.Consulta;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<form method="post" asp-page-handler="ListByData">
    <div class="row">
        <div class="col s12">
            <div class="col s12 m3 l3">
                <div class="input-field">
                    <input asp-for="Input.DataI" />
                    <label>Data Inicial</label>
                </div>
            </div>
            <div class="col s12 m3 l3">
                <div class="input-field">
                    <input asp-for="Input.DataF" />
                    <label>Data Final</label>
                </div>
            </div>
            <div class="col s12 m3 l3">
                <div class="input-field">
                    <button asp-page-handler="ListByData" class="btn waves-effect" type="submit" role="button"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</form>

<partial name="_AtendimentoList" model="Model.Input.ListaAtendimento" />