@page
@model Sim.UI.Web.Pages.Atendimento.IniciarModel
@{
    ViewData["Title"] = "Iniciar";
}

<div class="row">
    <div class="col-md-6">
        <a asp-page="./Index" class="btn btn-sm btn-secondary"><i class="fas fa-arrow-left"></i></a> |
        <b>Novo Atendimento</b> @Model.Input.Protocolo
    </div>
</div>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<hr />

<form method="post">
    <div class="col-md-5 mb-4">

        @if (Model.Input.Pessoa == null)
        {
            <div class="row g-2 mb-4">
                <div class="form-group col-md-4">
                    <div class="input-group ">
                        <input class="form-control" asp-for="GetCPF" placeholder="CPF" aria-describedby="button-addon2">
                        <button asp-page-handler="IncluirPessoa" class="btn btn-primary" type="submit"><i class="fa fa-plus-square" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row g-2 mb-4">
                <div class="col-md-2">
                    <label class="form-label" asp-for="Input.Pessoa.CPF"></label>
                    <input class="form-control" asp-for="Input.Pessoa.CPF" />
                </div>
                <div class="col-md-5">
                    <label class="form-label" asp-for="Input.Pessoa.Nome"></label>
                    <input class="form-control" asp-for="Input.Pessoa.Nome" />
                </div>
                <div class="col-md-3">
                    <label class="form-label" asp-for="Input.Pessoa.Email"></label>
                    <input class="form-control" asp-for="Input.Pessoa.Email" />
                </div>
                <div class="col-md-2">
                    <label class="form-label" asp-for="Input.Pessoa.Tel_Movel"></label>
                    <input class="form-control" asp-for="Input.Pessoa.Tel_Movel" />
                </div>
            </div>
        }

        @if (Model.Input.Empresa == null)
        {
            <div class="row g-2 mb-4">
                <div class="form-group col-md-4">
                    <div class="input-group ">
                        <input class="form-control" asp-for="GetCNPJ" placeholder="CNPJ" aria-describedby="button-addon2">
                        <button asp-page-handler="IncluirEmpresa" class="btn btn-primary" type="submit"><i class="fa fa-plus-square" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row g-2 mb-4">
                <div class="col-md-2">
                    <label class="form-label" asp-for="Input.Empresa.CNPJ"></label>
                    <input class="form-control" asp-for="Input.Empresa.CNPJ" />
                </div>
                <div class="col-md-5">
                    <label class="form-label" asp-for="Input.Empresa.Nome_Empresarial"></label>
                    <input class="form-control" asp-for="Input.Empresa.Nome_Empresarial" />
                </div>
                <div class="col-md-3">
                    <label class="form-label" asp-for="Input.Empresa.Email"></label>
                    <input class="form-control" asp-for="Input.Empresa.Email" />
                </div>
                <div class="col-md-2">
                    <label class="form-label" asp-for="Input.Empresa.Telefone"></label>
                    <input class="form-control" asp-for="Input.Empresa.Telefone" />
                </div>
            </div>
        }

    </div>
    <div class="d-grid gap-2 d-md-block">
        <button asp-page-handler="Save" type="submit" class="btn btn-primary">Gravar</button>
    </div>
</form>