@page
@model Sim.UI.Web.Pages.Atendimento.IniciarModel
@{
    ViewData["Title"] = "Iniciar";
    ViewData["ActivePage"] = Web.Pages.Shared.LayoutNavPages.Atendimento;
    ViewData["ActivePageLi"] = Web.Pages.Shared.LayoutNavPages.AtendimentoAtivo;
}

<!---->
<partial name="_StatusMessage" model="Model.StatusMessage" />

<form class="card" method="post">

    <div class="section">

        @if (Model.Input.Pessoa == null)
        {

            <div class="row">
                <div class="col">
                    <div class="input-field">
                        <input asp-for="GetCPF" id="inputCPF">
                        <label for="inputCPF">CPF</label>
                    </div>
                </div>
                <div class="col">
                    <div class="input-field">
                        <button asp-page-handler="IncluirPessoa" class="btn waves-effect" type="submit">Incluir</button>
                    </div>
                </div>
            </div>
        }
        else
        {

            <div class="row">
                <div class="col-md-2" hidden>
                    <input asp-for="Input.Pessoa.Id" />
                    <label asp-for="Input.Pessoa.Id" for="Input_Pessoa_Id"></label>
                </div>
                <div class="input-field col s12 m6 l3">
                    <input asp-for="Input.Pessoa.CPF" />
                    <label asp-for="Input.Pessoa.CPF"></label>
                </div>
                <div class="input-field col s12 m6 l3">
                    <input asp-for="Input.Pessoa.Nome" />
                    <label asp-for="Input.Pessoa.Nome"></label>
                </div>
                <div class="input-field col s12 m6 l3">
                    <input asp-for="Input.Pessoa.Email" />
                    <label asp-for="Input.Pessoa.Email"></label>
                </div>
                <div class="input-field col s12 m6 l3">
                    <input asp-for="Input.Pessoa.Tel_Movel" />
                    <label asp-for="Input.Pessoa.Tel_Movel"></label>
                </div>
                <div class="col-md align-self-end" hidden>
                    <button class="btn btn-danger" type="submit" asp-page-handler="RemoverPessoa">Remover</button>
                </div>
            </div>
        }
    </div>
    <div class="divider"></div>
    <div class="section">

        @if (Model.Input.Empresa == null)
        {
            <div class="row">
                <div class="col">
                    <div class="input-field">
                        <input asp-for="GetCNPJ" id="inputCNPJ">
                        <label for="inputCNPJ">CNPJ</label>
                    </div>
                </div>
                <div class="col">
                    <div class="input-field">
                        <button asp-page-handler="IncluirEmpresa" class="btn waves-effect" type="submit">Incluir</button>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="input-field col s12 m6 l3" hidden>
                    <label asp-for="Input.Empresa.Id"></label>
                    <input asp-for="Input.Empresa.Id" />
                </div>
                <div class="input-field col s12 m5 l2">
                    <label asp-for="Input.Empresa.CNPJ"></label>
                    <input asp-for="Input.Empresa.CNPJ" />
                </div>
                <div class="input-field col s12 m6 l3">
                    <label asp-for="Input.Empresa.Nome_Empresarial"></label>
                    <input asp-for="Input.Empresa.Nome_Empresarial" />
                </div>
                <div class="input-field col s12 m6 l3">
                    <label asp-for="Input.Empresa.Email"></label>
                    <input asp-for="Input.Empresa.Email" />
                </div>
                <div class="input-field col s12 m5 l2">
                    <label asp-for="Input.Empresa.Telefone"></label>
                    <input asp-for="Input.Empresa.Telefone" />
                </div>
                <div class="input-field col s12 m2 l2">
                    <button class="btn red lighten-1" type="submit" asp-page-handler="RemoverEmpresa">Remover</button>
                </div>
            </div>
        }
    </div>
    <div class="card-action">

        <button asp-page-handler="Save" type="submit" class="btn waves-effect">Iniciar Atendimento</button>
        <a asp-page="/Atendimento/Index" class="btn waves-effect red lighten-1">Cancelar</a>

    </div>

</form>

@section Scripts {
    <script src="~/js/jquery.cep.js"></script>
    <script src="~/js/jquery.mask.min.js"></script>
    <script>
        $('#inputCPF').mask('000.000.000-00');
        $('#txtphone').mask('(00) 0000-0000', { placeholder: "(__) ____-____" });
        $('#txtmobile').mask('(00) 00000-0000', { placeholder: "(__) _____-____" });
        $('#inputCNPJ').mask('00.000.000/0000-00');
    </script>
}