@using Sim.UI.Web.Pages.Planner

<nav id="navbar_top" class="navbar navbar-expand-sm navbar-light shadow bg-body">
    <div class="container">
        <span class="text-primary me-2">Planner</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link @PlannerNavPages.InicioNavClass(ViewContext)" asp-page="./Index"><i class="fas fa-home"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @PlannerNavPages.ListarNavClass(ViewContext)" asp-page="./Listar"><i class="fas fa-clipboard-list"></i> Listar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @PlannerNavPages.AjudaNavClass(ViewContext)" asp-page="./Ajuda"><i class="fas fa-exclamation-circle"></i> Ajuda</a>
                </li>
            </ul>
            <form class="d-flex">
                <a asp-area="" asp-page="./Novo" class="btn btn-sm btn-outline-primary" title="Novo Evento">Nova Semana</a>
            </form>
        </div>
    </div>
</nav>