@using Sim.UI.Web.Pages.Planner

<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <a class="nav-link @PlannerNavPages.InicioNavClass(ViewContext)" asp-page="./Index"><i class="fas fa-home"></i> Inicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @PlannerNavPages.ListarNavClass(ViewContext)" asp-page="./Listar"><i class="fas fa-clipboard-list"></i> Listar</a>
    </li>
</ul>

