@using Sim.UI.Web.Pages.Planner

<div class="navbar navbar-fixed">
    <nav class="navbar">
        <div class="nav-wrapper white">
            <span class="brand-logo grey-text" style="margin-left:10px;">e-Planner</span>

                <ul class="right hide-on-small-only">
                    <li>
                        <a class="@PlannerNavPages.InicioNavClass(ViewContext) grey-text" asp-page="./Index">Meu Planner</a>
                    </li>
                    <li>
                        <a class="@PlannerNavPages.AjudaNavClass(ViewContext) grey-text" asp-page="./Ajuda">Ajuda</a>
                    </li>
                </ul>
        </div>
    </nav>
</div>
