@page
@{
    ViewData["Title"] = "Planner";
    ViewData["ActivePage"] = Web.Pages.Shared.LayoutNavPages.Agenda;
    ViewData["ActivePageLi"] = Web.Pages.Shared.LayoutNavPages.AgendaPlanner;
}


<div style="text-align:justify;">
    <h5>e-Planner</h5>

    <p />O e-Planner é uma planner eletrônico on-line.

    <h5>Mas o que é um Planner?</h5>

    <p />Ao pé da letra, a palavra em inglês significa “planejador” e, não, não é uma agenda como muitas pessoas pensam. É um caderno que tem um formato bem específico e que te ajuda a reunir o máximo de informações possíveis para alcançar suas metas.
    <p>
        Essa é uma ferramenta que dá a chance de organizar a sua vida pessoal e profissional de uma forma bem prática, fazendo com que você consiga cumprir todos os seus objetivos. Afinal, com a correria do dia a dia, em que é preciso dar conta de milhões de coisas ao mesmo tempo, é fundamental que a gente consiga chegar ao final do dia com tudo em ordem e sem surtar, certo? O segredo? Organização!
    </p>

    <h5>Por que um planner não é uma agenda?</h5>
    <p>
        A agenda é usada para organizar compromissos e lembretes diários, como um calendário. Se a sua necessidade é de só manter sob controle as suas tarefas do dia a dia, ela pode resolver o seu problema. Agora, se você quer organizar sua vida financeira, metas, objetivos, não só pessoais mas como do seu negócio, o planner é o formato ideal.
    </p>

    <h5>7 dicas para você começar a usar um planner agora mesmo:</h5>

    <p><b>1. </b>O planner é totalmente personalizável, ou seja, ele tem o formato das suas necessidades. Escolha o que mais combina com o que você precisa: existem os semanais, mensais, anuais e até específicos para finanças.</p>
    <p><b>2. </b>Quando tiver o seu, preencha primeiro as metas a curto e longo prazo e as atitudes que precisam ser tomadas para alcançar esses objetivos. Com o tempo, você poderá modificar ou complementar essas informações. Lembre-se: você deve sempre reler suas metas para poder acompanhar sua evolução.</p>
    <p><b>3. </b>Acha que consegue dar conta de um milhão de tarefas em um dia? Não é bem assim. Um passo de cada vez! Pense nas metas maiores a longo prazo e descreva atitudes diárias para alcançá-las.</p>
    <p><b>4. </b>Seja bem específica na descrição das metas! A especificidade ajuda na hora de mensurar os resultados.</p>
    <p><b>5. </b>Separe um horário para escrever sobre os compromissos da semana. Assim, você terá uma visão geral do que precisa fazer.</p>
    <p><b>6. </b>Você pode escrever de cores diferentes para associar a diferentes níveis de compromissos. Exemplo: escrever de vermelho pode significar tarefas mais urgentes.</p>
    <p><b>7. </b>Sempre dê um OK ou risque quando cumprir as tarefas. Dessa forma, você conseguirá ver o quanto foi produtivo em um dia e quanto precisa melhorar. É motivador!</p>

    <p>
        Não é tão difícil de manter um planner, né? Ele é um hábito e, com o passar do tempo, você conseguirá ver o quanto te ajudou.
    </p>

</div>

