@page
@model Sim.UI.Web.Pages.Planner.IndexModel
@{
    ViewData["Title"] = "Planner";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<form method="post">
    <div class="row mt-5 mb-2">
        <div class="col-md-2">
            <div class="form-floating">
                <textarea class="form-control form-control-sm" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 300px;"></textarea>
                <label for="floatingTextarea2">Segunda</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-floating">
                <textarea class="form-control form-control-sm" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 300px"></textarea>
                <label for="floatingTextarea2">Terça</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-floating">
                <textarea class="form-control form-control-sm" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 300px"></textarea>
                <label for="floatingTextarea2">Quarta</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-floating">
                <textarea class="form-control form-control-sm" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 300px"></textarea>
                <label for="floatingTextarea2">Quinta</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-floating">
                <textarea class="form-control form-control-sm" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 300px"></textarea>
                <label for="floatingTextarea2">Sexta</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-floating">
                <textarea class="form-control form-control-sm" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 300px"></textarea>
                <label for="floatingTextarea2">Sábado</label>
            </div>
        </div>
    </div>
    <div class="row mb-5 mt-4">
        <div class="col-md-4">
            <div class="form-floating">
                <textarea class="form-control form-control-sm" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 150px"></textarea>
                <label for="floatingTextarea2">Semana que vem</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-floating">
                <textarea class="form-control form-control-sm" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 150px"></textarea>
                <label for="floatingTextarea2">Prioridades</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-floating">
                <textarea class="form-control form-control-sm" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 150px"></textarea>
                <label for="floatingTextarea2">Anotação</label>
            </div>
        </div>
    </div>
</form>

