@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Pages/Shared/_Layout.cshtml";
    }
}

<div class="mb-4">
    <partial name="_SebraeAquiNav" />
</div>

<div>
    @RenderBody()
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
