@using Sim.UI.Web.Pages.SebraeAqui

<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container-fluid">
        <span class="text-primary me-2">Sebrae</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link @SebraeAquiNavPages.InicioNavClass(ViewContext)" asp-page="./Index">Não Lançados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @SebraeAquiNavPages.AtendiementoNavClass(ViewContext)" asp-page="./Rae.Lancados">Lançados</a>
                </li>
            </ul>
            <form class="d-flex">
                <a asp-area="" asp-page="/Pessoa/Index" class="btn btn-sm btn-outline-primary" title="Novo Evento">Novo Atendimento</a>
            </form>
        </div>
    </div>
</nav>