@using Sim.UI.Web.Pages.Pat

<div class="navbar navbar-fixed" >
    <nav class="navbar">
        <div class="nav-wrapper white">
            <a href="#" data-target="sidenav-left" class="sidenav-trigger grey-text"><i class="material-icons">menu</i></a>
            <a class="navbar-page-name grey-text">PAT</a>
            <ul class="right">
                <li class="blue lighten-1 waves-effect waves-light"><a asp-area="" asp-page="/Pat/Add/Index">Novo Emprego</a></li>
            </ul>
        </div>
    </nav>
</div>
