@using Sim.UI.Web.Pages.Agenda

<div class="navbar navbar-fixed">
    <nav class="navbar">
        <div class="nav-wrapper white">
            <span class="brand-logo grey-text" style="margin-left:10px;">Agenda</span>

            <ul class="right hide-on-med-and-down">
                <li>
                    <a class="@AgendaNavPages.InicioNavClass(ViewContext) grey-text" asp-page="./Index">Eventos</a>
                </li>
                <li>
                    <a class="dropdown-trigger @AgendaNavPages.EventoListClass(ViewContext) grey-text" data-target="dropdownag" href="#">Consultar<i class="material-icons right">arrow_drop_down</i></a>
                    <ul id="dropdownag" class="dropdown-content">
                        <li><a asp-page="./Evento-list-passados">Eventos Realizados</a></li>
                        <li><a asp-page="./Evento.List">Participantes</a></li>
                    </ul>
                </li>
                <li hidden>
                    <a class="@AgendaNavPages.EventoEditClass(ViewContext) grey-text" href="#">Relatórios</a>
                </li>
                <li class="blue lighten-1 waves-effect waves-light">
                    <form>
                        <a asp-area="" asp-page="./Novo">Novo Evento</a>
                    </form>
                </li>
            </ul>

        </div>
    </nav>
</div>


