@page
@model Sim.UI.Web.Pages.Agenda.EditModel
@{

    ViewData["Title"] = "Alterar Evento";
    ViewData["ActivePage"] = AgendaNavPages.EventoEdit;

}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="row">
    <form method="post" class="card">
        <div class="row card-content">
            <div class="col-md-2 mb-3" hidden>
                <label asp-for="Input.Id"></label>
                <input asp-for="Input.Id"  />
            </div>
            <div class="col-md-2 mb-3" hidden>
                <label asp-for="Input.Codigo"></label>
                <input asp-for="Input.Codigo" />
            </div>
            <div class="col s12 m6 l6 input-field">
                <select asp-for="Input.Tipo" asp-items="Model.TipoEventos" >
                    <option selected value=''>--Tipo do Evento--</option>
                </select>
                <label asp-for="Input.Tipo"></label>
            </div>
            <div class="col s12 m6 l6 input-field">
                <input asp-for="Input.Nome" />
                <label class="form-label" asp-for="Input.Nome"></label>
            </div>
            <div class="col s12 m3 l3 input-field">
                <input asp-for="Input.Data" />
                <label asp-for="Input.Data"></label>
            </div>
            <div class="col s12 m3 l3 input-field">
                <select asp-for="Input.Formato" >
                    <option selected value=''>--Tipo do Evento--</option>
                    <option value='Online'>Online</option>
                    <option value='Presencial'>Presencial</option>
                </select>
                <label asp-for="Input.Formato"></label>
            </div>
            <div class="col s12 m4 l4 input-field">
                <select asp-for="Input.Owner" asp-items="Model.Setores">
                    <option selected value=''>------Setor------</option>
                </select>
                <label asp-for="Input.Owner"></label>
            </div>
            <div class="col s12 m2 l2 input-field">
                <input asp-for="Input.Lotacao" />
                <label asp-for="Input.Lotacao"></label>
            </div>
            <div class="col s12">
                <label class="form-label" asp-for="Input.Descricao"></label>
                <textarea asp-for="Input.Descricao" rows="2" ></textarea>
            </div>
        </div>
        <div class="card-action">
            <button type="submit" class="btn btn-primary">Alterar Evento</button>
            <a asp-page="./Index" class="btn btn-secondary">Voltar</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.validation.js"></script>
}
