@page
@model Sim.UI.Web.Pages.Agenda.Evento_list_passadosModel

@{
    ViewData["Title"] = "Indice de Eventos passados";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<nav style="margin-bottom:20px;">
    <div class="nav-wrapper white">
        <form method="post" class="row">
            <div class="input-field col s6 l6 m6">
                <input asp-for="Input.Evento" type="search" placeholder="Consultar Evento" required>
                <label class="label-icon" asp-for="Input.Evento"><i class="black-text material-icons">search</i></label>
            </div>
            <button class="input-field btn waves-effect waves-light right z-depth-0" type="submit" name="action">Pesquisar</button>
        </form>
    </div>
</nav>

<pre>Lista de Eventos Anteriores a @DateTime.Now.Date</pre>

<div>

    <partial name="_AgendaList" model="Model.Input.ListaEventos" />

</div>

<!-- Modal -->
<div class="modal fade" id="viewmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="viewmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="viewmodalLabel">Detalhes</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="viewmodalData"></p>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(".viewbutton").on("click", function () {
            var customerId = $(this).data('id');
            var secao = $(this).data('secao');
            var acao = $(this).data('acao');
            $.ajax({
                url: "/" + secao + "/" + acao + "?id=" + customerId,
                cache: false
            }).done(function (data) {
                $("#viewmodalData").html(data);
            });
        });</script>
}
