@page
@model Sim.UI.Web.Pages.Agenda.Evento_list_passadosModel

@{
    ViewData["Title"] = "Indice de Eventos passados";
    ViewData["ActivePage"] = AgendaNavPages.EventoList;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<form method="post">
    <div class="row">
        <div class="col s12">
            <div class="col s10 m6 l6">
                <div class="input-field">
                    <input asp-for="Input.Evento">
                    <label>Nome do Evento</label>
                </div>
            </div>
            <div class="col">
                <div class="input-field">
                    <button class="btn waves-effect" type="submit" role="button"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</form>

<pre>Lista de Eventos Anteriores a @DateTime.Now.Date</pre>

<div >

    <partial name="_AgendaList" model="Model.Input.ListaEventos" />

</div>

<!-- Modal -->
<div class="modal fade" id="viewmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="viewmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="viewmodalLabel">Detalhes</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="viewmodalData"></p>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(".viewbutton").on("click", function () {
            var customerId = $(this).data('id');
            var secao = $(this).data('secao');
            var acao = $(this).data('acao');
            $.ajax({
                url: "/" + secao + "/" + acao + "?id=" + customerId,
                cache: false
            }).done(function (data) {
                $("#viewmodalData").html(data);
            });
        });</script>
}
