@page
@model Sim.UI.Web.Pages.Agenda.NovoModel
@{

    ViewData["Title"] = "Novo Evento";
    ViewData["ActivePage"] = AgendaNavPages.NovoEvento;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="row">
    <form method="post">
        <div class="row">
            <div class="col-md-2 mb-3" hidden>
                <label class="form-label" asp-for="Input.Codigo"></label>
                <input asp-for="Input.Codigo" class="form-control" />
            </div>
            <div class="col-md-3 mb-3">
                <label class="form-label" asp-for="Input.Tipo"></label>
                <select asp-for="Input.Tipo" asp-items="Model.TipoEventos" class="form-select">
                    <option selected value=''>--Tipo do Evento--</option>
                </select>
                <span asp-validation-for="Input.Tipo" class="text-danger" />
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label" asp-for="Input.Nome"></label>
                <input asp-for="Input.Nome" class="form-control" />
                <span asp-validation-for="Input.Nome" class="text-danger" />
            </div>
            <div class="col-md-3 mb-3">
                <label class="form-label" asp-for="Input.Formato"></label>
                <select asp-for="Input.Formato" class="form-select">
                    <option selected value=''>--Tipo do Evento--</option>
                    <option value='Online'>Online</option>
                    <option value='Presencial'>Presencial</option>
                </select>
                <span asp-validation-for="Input.Formato" class="text-danger" />
            </div>
            <div class="col-md-3 mb-3">
                <label class="form-label" asp-for="Input.Data"></label>
                <input asp-for="Input.Data" class="form-control" />
                <span asp-validation-for="Input.Data" class="text-danger" />
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label" asp-for="Input.Owner"></label>
                <select asp-for="Input.Owner" asp-items="Model.Setores" asp- class="form-select">
                    <option selected value=''>------Setor------</option>
                </select>
                <span asp-validation-for="Input.Owner" class="text-danger" />
            </div>
            <div class="col-md-2 mb-3">
                <label class="form-label" asp-for="Input.Lotacao"></label>
                <input asp-for="Input.Lotacao" class="form-control" />
            </div>
            <div class="col-md-10 mb-3">
                <label class="form-label" asp-for="Input.Descricao"></label>
                <textarea asp-for="Input.Descricao" rows="2" asp- class="form-control"></textarea>
            </div>

            <div class="row">
                <div class="col-md-4 mt-4">
                    <button type="submit" class="btn btn-primary">Gravar Evento</button> |
                    <a asp-page="./Index" class="btn btn-secondary">Voltar</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.validation.js"></script>
}