@page
@model Sim.UI.Web.Pages.Agenda.NovoModel
@{

    ViewData["Title"] = "Novo Evento";
    ViewData["ActivePage"] = AgendaNavPages.NovoEvento;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="row">
    <form method="post" class="card">
        <div class="card-content">
            <div class="row">
                <div class="col s12 input-field" hidden>
                    <input asp-for="Input.Id" />
                    <label asp-for="Input.Id"></label>
                </div>
                <div class="col s12 m6 l6 input-field">
                    <select asp-for="Input.Tipo" asp-items="Model.TipoEventos">
                        <option value="">--Tipo do Evento--</option>
                    </select>
                    <label asp-for="Input.Tipo"></label>
                </div>
                <div class="col s12 m6 l6 input-field">
                    <input asp-for="Input.Nome" required />
                    <label asp-for="Input.Nome"></label>
                </div>
                <div class="col s12 m3 l3 input-field">
                    <input asp-for="Input.Data" required />
                    <label asp-for="Input.Data"></label>
                </div>
                <div class="col s12 m3 l3 input-field">
                    <select asp-for="Input.Formato">
                        <option selected value="">--Formato--</option>
                        <option value="Online">Online</option>
                        <option value="Presencial">Presencial</option>
                    </select>
                    <label asp-for="Input.Formato"></label>
                </div>
                <div class="col s12 m4 l4 input-field">
                    <select asp-for="Input.Owner" asp-items="Model.Setores">
                        <option value="">--Setor--</option>
                    </select>
                    <label asp-for="Input.Owner"></label>
                </div>
                <div class="col s12 m2 l2 input-field">
                    <input asp-for="Input.Lotacao" />
                    <label asp-for="Input.Lotacao"></label>
                </div>
                <div class="col s12 input-field">
                    <textarea asp-for="Input.Descricao" class="materialize-textarea" rows="2" />
                    <label asp-for="Input.Descricao"></label>
                </div>
            </div>
        </div>
        <div class="card-action">
            <button type="submit" class="btn waves-effect waves-light">Gravar Novo Evento</button>
            <a asp-page="./Index" class="btn grey lighten-1 waves-effect waves-light">Voltar</a>
        </div>
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}