@using Sim.UI.Web.Pages.Pessoa

<nav id="navbar_top" class="navbar navbar-expand navbar-light border-bottom bg-body">
    <div class="container">
        <span class="text-primary me-2">Pessoas</span>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link @PessoaNavPages.InicioNavClass(ViewContext)" asp-page="./Index">Listar</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle @PessoaNavPages.ConsultaNomeNavClass(ViewContext) @PessoaNavPages.ConsultaCPFNavClass(ViewContext)" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Consultar</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-page="./Consulta.Nome">Nome</a></li>
                    </ul>
                </li>
                <li class="nav-item" hidden>
                    <a class="nav-link" href="#">Relatórios</a>
                </li>
            </ul>
            <form class="d-flex">
                <a asp-area="" asp-page="./Novo" class="btn btn-sm btn-outline-primary" title="Novo Evento">Adicionar Pessoa</a>
            </form>
        </div>
    </div>
</nav>