@using Sim.UI.Web.Pages.Pessoa

<div class="navbar navbar-fixed">
    <nav class="navbar">
        <div class="nav-wrapper white">
            <span class="brand-logo grey-text" style="margin-left:10px;">Pessoas</span>
            <ul class="right">
                <li>
                    <a class="dropdown-trigger @PessoaNavPages.ConsultaNomeNavClass(ViewContext) @PessoaNavPages.ConsultaCPFNavClass(ViewContext) grey-text" data-target="dropdownpe">Consultar<i class="material-icons right">arrow_drop_down</i></a>
                    <ul id="dropdownpe" class="dropdown-content">
                        <li>
                            <a asp-page="./Index">CPF</a>
                        </li>
                        <li><a asp-page="./Consulta.Nome">Nome</a></li>
                    </ul>

                </li>
                <!--
    <li class="blue lighten-1 waves-effect waves-light">
        <form>
            <a asp-area="" asp-page="./Novo">Adicionar Pessoa</a>
        </form>
    </li>-->
            </ul>
        </div>
    </nav>
</div>
