@using Sim.UI.Web.Pages.Pessoa

<div class="navbar navbar-fixed">
    <nav class="navbar">
        <div class="nav-wrapper white">
            <a href="#" data-target="sidenav-left" class="sidenav-trigger grey-text"><i class="material-icons">menu</i></a>
            <span class="navbar-page-name grey-text">Pessoas</span>
            <ul class="right grey-text">
                <li>
                    <i class="material-icons">group_add</i>
                </li>
            </ul>
        </div>
    </nav>
</div>
