@using Sim.UI.Web.Pages.Pessoa

<div class="navbar navbar-fixed">
    <nav class="navbar">
        <div class="nav-wrapper">
            <span class="brand-logo grey-text text-darken-4">Pessoas</span>
            <ul class="right">
                <li>
                    <a class="nav-link @PessoaNavPages.InicioNavClass(ViewContext)" asp-page="./Index">Listar</a>
                </li>
                <li>
                    <a class="dropdown-trigger @PessoaNavPages.ConsultaNomeNavClass(ViewContext) @PessoaNavPages.ConsultaCPFNavClass(ViewContext)" data-target="dropdownpe">Consultar</a>
                    <ul id="dropdownpe" class="dropdown-content">
                        <li><a asp-page="./Consulta.Nome">Nome</a></li>
                    </ul>
                </li>
                <li class="light-blue lighten-4">
                    <form>
                        <a asp-area="" asp-page="./Novo">Adicionar Pessoa</a>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>
