@page
@model Sim.UI.Web.Pages.Pessoa.NovoModel
@{
    ViewData["Title"] = "Novo";
    ViewData["ActivePage"] = PessoaNavPages.Inicio;
}

<!--<partial name="_StatusMessage" model="Model.StatusMessage" />-->

<div class="card">
    <form method="post" asp-route="url" novalidate>
        <div class="section">
            <div class="row">
                <div class="col s12">
                    <div class="col s12 m4 l4">
                        <div class="input-field">
                            <input asp-for="Input.Nome" id="inputNome" required />
                            <label asp-for="Input.Nome" for="inputNome"></label>
                        </div>
                    </div>
                    <div class="col s12 m4 l4">
                        <div class="input-field">
                            <input asp-for="Input.Nome_Social" id="inputSocial" />
                            <label asp-for="Input.Nome_Social" for="inputSocial"></label>
                        </div>
                    </div>
                    <div class="col s12 m4 l4">
                        <div class="input-field">
                            <select asp-for="Input.Genero" id="inputGenero">
                                <option></option>
                                <option>Feminino</option>
                                <option>Masculino</option>
                            </select>
                            <label asp-for="Input.Genero" for="inputGenero"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>

        <div class="mb-3 row">
            <div class="col-md-3">
                <label asp-for="Input.Data_Nascimento" class="form-label" for="inputNascimento"></label>
                <input asp-for="Input.Data_Nascimento" class="form-control" id="inputNascimento" required />
            </div>
            <div class="col-md-3">
                <label asp-for="Input.CPF" class="form-label" for="inputCPF"></label>
                <input asp-for="Input.CPF" class="form-control" id="inputCPF" required />
            </div>
            <div class="col-md-3">
                <label asp-for="Input.RG" class="form-label" for="inputRG"></label>
                <input asp-for="Input.RG" class="form-control" id="inputRG" />
            </div>
            <div class="col-md-2">
                <label asp-for="Input.RG_Emissor" class="form-label" for="inputEmissor"></label>
                <input asp-for="Input.RG_Emissor" class="form-control text-uppercase" id="inputEmissor" />
            </div>
            <div class="col-md-1">
                <label asp-for="Input.RG_Emissor_UF" class="form-label" for="inputEmissorUF"></label>
                <input asp-for="Input.RG_Emissor_UF" class="form-control text-uppercase" id="inputEmissorUF" />
            </div>
        </div>
        <hr />
        <label asp-for="Input.Deficiencia" class="form-label"></label>
        <h6>
            <input asp-for="Input.Deficiencia" class="form-control" hidden />
        </h6>

        <div class="mb-3 row">

            <div class="col-md-2">
                <div class="form-switch">
                    <input asp-for="Input.Fisica" type="checkbox" class="form-check-input" id="customSwitch1">
                    <label asp-for="Input.Fisica" class="custom-control-label" for="customSwitch1"></label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-switch">
                    <input asp-for="Input.Visual" type="checkbox" class="form-check-input" id="customSwitch2">
                    <label asp-for="Input.Visual" class="custom-control-label" for="customSwitch2"></label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-switch">
                    <input asp-for="Input.Auditiva" type="checkbox" class="form-check-input" id="customSwitch3">
                    <label asp-for="Input.Auditiva" class="custom-control-label" for="customSwitch3"></label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-switch">
                    <input asp-for="Input.Intelectual" type="checkbox" class="form-check-input" id="customSwitch4">
                    <label asp-for="Input.Intelectual" class="custom-control-label" for="customSwitch4"></label>
                </div>
            </div>

        </div>

        <hr />
        <pre>Endereço</pre>

        <div class="mb-3 row">
            <div class="col-md-2">
                <label asp-for="Input.CEP" class="form-label" for="cep"></label>
                <input asp-for="Input.CEP" class="form-control" id="cep" />
            </div>
            <div class="col-md-8">
                <label asp-for="Input.Logradouro" class="form-label" for="rua"></label>
                <input asp-for="Input.Logradouro" class="form-control" id="rua" />
            </div>
            <div class="col-md-2">
                <label asp-for="Input.Numero" class="form-label"></label>
                <input asp-for="Input.Numero" class="form-control" />
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-md-3">
                <label asp-for="Input.Complemento" class="form-label"></label>
                <input asp-for="Input.Complemento" class="form-control" />
            </div>
            <div class="col-md-5">
                <label asp-for="Input.Bairro" class="form-label" for="bairro"></label>
                <input asp-for="Input.Bairro" class="form-control" id="bairro" />
            </div>
            <div class="col-md-3">
                <label asp-for="Input.Cidade" class="form-label" for="cidade"></label>
                <input asp-for="Input.Cidade" class="form-control" id="cidade" />
            </div>
            <div class="col-md-1">
                <label asp-for="Input.UF" class="form-label" for="uf"></label>
                <input asp-for="Input.UF" class="form-control" id="uf" />
            </div>
        </div>

        <hr />
        <pre>Contato</pre>

        <div class="mb-3 row">

            <div class="col-md-3">
                <label asp-for="Input.Tel_Movel" class="form-label"></label>
                <input asp-for="Input.Tel_Movel" class="form-control" id="txtmobile" />
            </div>
            <div class="col-md-3">
                <label asp-for="Input.Tel_Fixo" class="form-label"></label>
                <input asp-for="Input.Tel_Fixo" class="form-control" id="txtphone" />
            </div>
            <div class="col-md-6">
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control" />
            </div>
        </div>

        <hr />
        <pre>Informações</pre>
        <div class="row">

            <div class="col-md-3">
                <label asp-for="Input.Data_Cadastro" class="form-label"></label>
                <input asp-for="Input.Data_Cadastro" class="form-control" disabled />
            </div>
            <div class="col-md-3">
                <label asp-for="Input.Ultima_Alteracao" class="form-label"></label>
                <input asp-for="Input.Ultima_Alteracao" class="form-control" disabled />
            </div>
            <div class="col-md-3">
                <label asp-for="Input.Ativo" class="form-label"></label>
                <div class="custom-control custom-switch">
                    <input asp-for="Input.Ativo" type="checkbox" class="form-check-input" id="customSwitch5">
                    <label class="custom-control-label" for="customSwitch5">Ativo?</label>
                </div>
            </div>
            <p />
            <div class="d-grid gap-2 d-md-block">
                <a asp-page="/Pessoa/Index" role="button" type="button" class="btn btn-secondary">Voltar</a> |
                <button type="submit" role="button" class="btn btn-primary">Gravar</button>
            </div>
        </div>
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.cep.js"></script>
    <script src="~/js/jquery.mask.min.js"></script>
    <script src="~/js/jquery.validation.js"></script>
    <script>
        $('#inputCPF').mask('000.000.000-00');
        $('#txtphone').mask('(00) 0000-0000');
        $('#txtmobile').mask('(00) 00000-0000');
        $('#cep').mask('00000-000');
    </script>

}

