@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Mudar senha";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}


<partial name="_StatusMessage" for="StatusMessage" />

<div class="section">
    <form id="change-password-form" method="post">

        <div class="row">
            <div class="col">
                <h6>@ViewData["Title"]</h6>
            </div>
        </div>
        
        <div class="row">
            <div class="col s12">
                <div class="input-field">
                    <input asp-for="Input.OldPassword" class="form-control" />
                    <label asp-for="Input.OldPassword" class="form-label"></label>
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="col s12">
                <div class="input-field">
                    <input asp-for="Input.NewPassword" class="form-control" />
                    <label asp-for="Input.NewPassword" class="form-label"></label>
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="col s12">
                <div class="input-field">
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="input-field">
                    <button type="submit" class="btn btn-large waves-effect">Atualizar senha</button>
                </div>
            </div>
        </div>
    </form>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}