@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Dados pessoais";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}


<div class="section">
    <div class="row">
        <div class="col s12">

            <div class="col s12">
                <h6>@ViewData["Title"]</h6>

                <p>Sua conta contém dados pessoais que você nos forneceu. Esta página permite que você baixe ou exclua esses dados.</p>
                <p>
                    <strong>A exclusão desses dados removerá permanentemente sua conta, e isso não pode ser recuperado.</strong>
                </p>

            </div>

            <form id="download-data" asp-page="DownloadPersonalData" method="post" class="col">
                <button class="btn waves-effect" type="submit">Baixar dados pessoais</button>
            </form>

            <div class="col">
                <a id="delete" asp-page="DeletePersonalData" class="btn waves-effect">Excluir dados pessoais</a>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
