@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Redefinir chave do autenticador";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="section">
    <div class="row">
        <div class="col s12">
            <h6>@ViewData["Title"]</h6>
            <div class="alert alert-warning" role="alert">
                <p>
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    <strong>Se você redefinir a chave do autenticador, o aplicativo do autenticador não funcionará até que você o reconfigure.</strong>
                </p>
                <p>
                    Este processo desativa 2FA até que você verifique seu aplicativo autenticador.
                    Se você não concluir a configuração do aplicativo autenticador, poderá perder o acesso à sua conta.
                </p>
            </div>
            <div>
                <form id="reset-authenticator-form" method="post">
                    <button id="reset-authenticator-button" class="btn red lighten-1 waves-effect" type="submit">Redefinir chave do autenticador</button>
                </form>
            </div>
        </div>
    </div>
</div>



