/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/* 
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

Provide sufficient contrast against white background
a {
    color: #0366d6;
}
 */

/* Sticky footer styles
-------------------------------------------------- 
@import "../lib/bootstrap/dist/css/bootstrap-utilities.min.css";*/

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
    /* Margin top by fixed navbar height */
    margin-top: 60px;
    background: url(imgs/bgios.jpg) no-repeat fixed;
    background-size: cover;
    /*background-color: #ffffff;*/
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 40px; /* Vertically center the text there */
}


/* Login style */
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

    .form-signin .checkbox {
        font-weight: 400;
    }

    .form-signin .form-floating:focus-within {
        z-index: 2;
    }

    .form-signin input[type="text"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }


.strip-bg {
    margin: 0px 0px 0px 0px;
    height: 20px;
}

/* faixa pontilhada */
.strip-dot {
    margin: 0px 0px 0px 0px;
    height: 20px;
    background-image: url(imgs/dot.jpg);
}

/* Logo SIM */
.logo-sim-sm {
    
    margin: 0px 0px 0px 0px;
    background-image: url(imgs/sim-ico.ico);
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
    image-rendering: optimizeQuality;
}

.logo-sim{
    margin: 0px 0px 0px 0px;
    background-image: url(imgs/sim-ico.ico);
    background-size: 48px 48px;
    height: 48px;
    width: 48px;
    image-rendering:optimizeQuality;
}

.logo-sim-lg {
    margin: auto;
    background-image: url(imgs/sim-ico.ico);
    background-size: 64px 64px;
    height: 64px;
    width: 64px;
    image-rendering: optimizeQuality;
}

.sedemp {
    margin: 0px 0px 0px 0px;
    background-image: url(imgs/n_logo_sedemp.jpeg);
    image-rendering:optimizeQuality;
}

/**** Links ****/

/**** Modulos ****/

.l-btn /* estrutura principal */ {
    display: inline-block;
    margin: 1px;
    height: 200px;
    width: 200px;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    background-color: #20c997;
    border:solid 2px #ffffff;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

    .l-btn:link:visited /* estado do link */ {
        text-decoration: none;
        color: #ffffff;
        background-color: #20c997;
    }

    .l-btn:hover /* ao mover o mouse */ {
        /*
        box-shadow:#00ff90 5px inherit;*/
        background-color: #1cb487;
        color: #ffffff;
        text-decoration: none;
    }

    .l-btn:active {
        /*box-shadow: #36cea1 2px 2px;*/
        border: solid 2px #b6ff00;
    }

.div-modulos /* div das seções free-hand, digital paint, comp grafica e web-dev */ { 
    text-align: center;/*
    background-image: url(imgs/dot.jpg);*/
}


