/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/* 
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

Provide sufficient contrast against white background
a {
    color: #0366d6;
}
 */

/* Sticky footer styles
-------------------------------------------------- 
@import "../lib/bootstrap/dist/css/bootstrap-utilities.min.css";*/

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 70px;
    /* Margin top by fixed navbar height 
    margin-top: 90px;*/
    /* background: url(imgs/bgios.jpg) no-repeat fixed;
    background-size: cover;*/
    /*
    background-color: #f5f5f5;*/
}

.bg-teal {
    background-color: #20c997 !important;
}

.bg-silver {
    background-color: #f8f8f8 !important;
}

/**/
.table {
    font-size:10.5pt;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 50px; /* Vertically center the text there */
}


/* Login style */
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

    .form-signin .checkbox {
        font-weight: 400;
    }

    .form-signin .form-floating:focus-within {
        z-index: 2;
    }

    .form-signin input[type="text"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }


.strip-bg {
    margin: 0px 0px 0px 0px;
    height: 20px;
}

/* faixa pontilhada */
.strip-dot {
    margin: 0px 0px 0px 0px;
    height: 20px;
    background-image: url(imgs/dot.jpg);
}

.strip-dot-b4 {
    margin: 0px 0px 0px 0px;
    height: 6px;
    background-image: url(imgs/dot.jpg);
}

/* Logo SIM */
.logo-sim-sm {
    display:flex;
    margin: 0px 0px 0px 0px;
    background-image: url(imgs/sim-ico.ico);
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
    image-rendering: optimizeQuality;
}

.logo-sim{
    background-image: url(imgs/sim_logo_nb.png);
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
}

.logo-sim-lg {
    margin: auto;
    background-image: url(imgs/sim-ico.ico);
    background-size: 64px 64px;
    height: 64px;
    width: 64px;
    image-rendering: optimizeQuality;
}

.sedemp {
    margin: 0px 0px 0px 0px;
    background-image: url(imgs/n_logo_sedemp.jpeg);
    image-rendering:optimizeQuality;
}

/**** Links ****/

/**** Modulos ****/

.l-btn /* estrutura principal */ {
    display: inline-block;
    margin: 5px;
    height: 200px;
    width: 200px;
    color: #ffffff;
    background-color: #20c997;
    text-decoration: none;
    border-radius: 0px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}



    .l-btn:hover /* ao mover o mouse */ {
        background-color: #26dca6;
        color: #ffffff;
        text-decoration: none;
    }

    .l-btn:active {
        background-color: #20c997;
    }

.div-modulos /* div das seções free-hand, digital paint, comp grafica e web-dev */ { 
    text-align: center;/*
       
    background-image: url(imgs/dot.jpg);*/
}

.agenda {
    display: inline-block;
    margin: 10px;
    width: 300px;
    background-color: #ffffff;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

    .agenda:hover /* ao mover o mouse */ {
        background-color: #fafafa;
    }

    .agenda:active {
        background-color: #fafafa;
    }