@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Pages/Shared/_Layout.cshtml";
    }
}


    <div class="row">
        <div class="col-md-12">
            <partial name="_SettingsNav" />
        </div>
    </div>


<hr />

<div>
    <pre>Configurações do Sistema</pre>
    <div class="row">
        <div class="col-md">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
