@page
@model Sim.UI.Web.Areas.Settings.Pages.Common.EventosModel
@{
    Layout = "_Layout.cshtml";

    ViewData["Title"] = "Index";

    ViewData["ActivePage"] = SettingsNavPages.Eventos;
}
<partial name="_StatusMessage" model="Model.StatusMessage" />

<div>
    <form class="col-md-12" method="post">
        <div class="col-md-12" hidden>
            <label asp-for="Input.Id" class="form-label"></label>
            <input asp-for="Input.Id" class="form-control" />
            <span asp-validation-for="Input.Id" class="text-danger"></span>
        </div>
        <div class="row mb-4">
            <div class="col-md-3">
                <label asp-for="Input.Nome" class="form-label"></label>
                <input asp-for="Input.Nome" class="form-control" />
                <span asp-validation-for="Input.Nome" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="Input.Tipo" class="form-label"></label>
                <select asp-for="Input.Tipo" class="form-select">
                    <option selected>Evento</option>
                </select>
                <span asp-validation-for="Input.Tipo" class="text-danger"></span>
            </div>
            <div class="col-md-auto align-self-end mt-3">
                <button type="submit" class="btn btn-primary">Incluir Evento</button>
            </div>
        </div>

        <table class="table table-striped">
            <caption>Lista de Tipos de Eventos</caption>
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>Tipo</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Input.Listar != null)
                {
                    foreach (var item in Model.Input.Listar)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Owner)
                            </td>

                            <td>
                                <button type="submit" asp-page-handler="Remove" asp-route-id="@item.Id" class="btn btn-sm btn-danger" title="Excluir item"><i class="far fa-window-close"></i></button>

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </form>
</div>