@page
@model Sim.UI.Web.Areas.Settings.Pages.Common.ServicosModel
@{
    Layout = "_Layout.cshtml";

    ViewData["Title"] = "Index";

    ViewData["ActivePage"] = Sim.UI.Web.Pages.Shared.LayoutNavPages.Configuracoes;
    ViewData["ActivePageLi"] = Sim.UI.Web.Pages.Shared.LayoutNavPages.ConfigSistema;

}
<!---->
<partial name="_StatusMessage" model="Model.StatusMessage" />

<div>
    <form method="post">
        <div class="col s12" hidden>
            <label asp-for="Input.Id" class="form-label"></label>
            <input asp-for="Input.Id" class="form-control" />
        </div>

        <div class="row">
            <div class="col s12">
                <div class="col s12 m3 l3">
                    <div class="input-field">
                        <input asp-for="Input.Nome" />
                        <label asp-for="Input.Nome"></label>
                    </div>
                </div>
                <div class="col s12 m3 l3">
                    <div class="input-field">
                        <select asp-for="ItemSelecionado" asp-items="Model.Secretarias"></select>
                        <label asp-for="Secretarias"></label>
                    </div>
                </div>
                <div class="col s12 m3 l3">
                    <div class="input-field">
                        <select class="is-selected" asp-for="SetorSelecionado" asp-items="Model.Setores" onchange="sendData()"></select>
                        <label asp-for="Setores"></label>
                    </div>
                </div>
                <div class="col s12 m3 l3">
                    <div class="input-field">
                        <button type="submit" asp-page-handler="ServicosBySetor" class="btn waves-effect"><i class="material-icons">filter_list</i></button>
                        <button type="submit" asp-page-handler="Add" class="btn waves-effect">Incluir Serviço</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <table>
                <thead>
                    <tr>
                        <th>
                            Servico
                        </th>
                        <th>Setor</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Input.Listar != null)
                    {
                        foreach (var item in Model.Input.Listar)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Setor.Nome)
                                </td>

                                <td>
                                    <button type="submit" asp-page-handler="Remove" asp-route-id="@item.Id" class="btn btn-small waves-effect" title="Excluir item"><i class="material-icons">delete_outline</i></button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </form>
</div>

@section scripts{
    <script>
        function sendData1() {
            var selectedFilter = $(".is-selected").val();
            $.getScript(`?id=${selectedFilter}&handler=ServicosBySetor`, alert(selectedFilter));
        }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.validation.js"></script>
}