@using Sim.UI.Web.Areas.Admin.Pages.Manager

<div class="navbar-fixed">
    <nav class="navbar">
        <div class="nav-wrapper">
            <span class="brand-logo grey-text text-darken-4">Contas</span>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a class="@AdminNavPages.IndexNavClass(ViewContext)" id="lusers" asp-page="./Index">Listar</a>
                </li>
                <li hidden>
                    <a class="@AdminNavPages.RegisterNavClass(ViewContext)" id="regs" asp-page="./Register"><i class="fas fa-user-plus"></i></a>
                </li>
                <li>
                    <a class="@AdminNavPages.RolesNavClass(ViewContext)" id="roles" asp-page="./Roles">Apolices</a>
                </li>
                <li hidden>
                    <a class="@AdminNavPages.ClaimsNavClass(ViewContext)" id="claims" asp-page="./Claims">Papeis</a>
                </li>
                <li class="light-blue lighten-4 waves-effect waves-light">
                    <form>
                        <a asp-page="./Register">Adicionar Novo Usuário</a>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>
