@using Sim.UI.Web.Areas.Admin.Pages.Manager

<div class="navbar navbar-fixed">
    <nav class="navbar">
        <div class="nav-wrapper white">
            <span class="brand-logo grey-text" style="margin-left:10px;">Contas</span>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a class="@AdminNavPages.IndexNavClass(ViewContext) grey-text" id="lusers" asp-page="./Index">Listar</a>
                </li>
                <li hidden>
                    <a class="@AdminNavPages.RegisterNavClass(ViewContext) grey-text" id="regs" asp-page="./Register"><i class="fas fa-user-plus"></i></a>
                </li>
                <li>
                    <a class="@AdminNavPages.RolesNavClass(ViewContext) grey-text" id="roles" asp-page="./Roles">Apolices</a>
                </li>
                <li hidden>
                    <a class="@AdminNavPages.ClaimsNavClass(ViewContext) grey-text" id="claims" asp-page="./Claims">Papeis</a>
                </li>
                <li class="blue lighten-1 waves-effect waves-light">
                    <form>
                        <a asp-area="Identity" asp-page="/Account/Register">Novo Usuário</a>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>
