@using Sim.UI.Web.Areas.Admin.Pages.Manager

<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <a class="nav-link @AdminNavPages.IndexNavClass(ViewContext)" id="lusers" asp-page="./Index"><i class="fas fa-user-cog"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link @AdminNavPages.RegisterNavClass(ViewContext)" id="regs" asp-page="./Register"><i class="fas fa-user-plus"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link @AdminNavPages.RolesNavClass(ViewContext)" id="roles" asp-page="./Roles"><i class="fas fa-lock"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link @AdminNavPages.ClaimsNavClass(ViewContext)" id="claims" asp-page="./Claims"><i class="fas fa-shield-alt"></i></a>
    </li>
</ul>
