@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Pages/Shared/_Layout.cshtml";
    }
}
<div class="row">
    <div class="col-md-3">
        <h5>Gerenciar contas</h5> 
    </div>
    <div class="col-md-9">
        <div class="col-md justify-content-md-center">
            <partial name="_AdminNav" />
        </div>
    </div>
</div>
<hr />
<div>
    <pre>Altere as configurações das contas</pre>
    <div class="row">
        <div class="col-md">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
