@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Pages/Shared/_Layout.cshtml";
    }
}

<partial name="_AdminNav" />
<div style="margin:20px 20px 20px 20px;">
    @RenderBody()
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
