@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Pages/Shared/_Layout.cshtml";
    }
}
<div class="mb-5">
            <partial name="_AdminNav" />
</div>
<div>
    <pre>Altere as configurações das contas</pre>
    @RenderBody()
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
