@page
@model Sim.UI.Web.Areas.Admin.Pages.Manager.ClaimsModel
@{
    Layout = "_Layout.cshtml";

    ViewData["Title"] = "Claims";
    ViewData["ActivePage"] = AdminNavPages.Claims;
}

<h5>Gerenciar Claims</h5>

<partial name="_StatusMessage" model="Model.StatusMessage" />


<div >
    <div class="col-md-5">
        <form asp-action="Claims" method="post">
            <div class="row g-3">
                <div class="input-group mb-3">
                    <input asp-for="Input.ClaimType" class="form-control" disabled />
                    <button class="btn btn-primary" type="submit" disabled>Adicionar</button>
                </div>
            </div>
        </form>
    </div>
    <hr />
</div>