@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mb-4">
    <h4 class="display-4">Bem-vindos!</h4>
    <!--<p><samp>A Intranet da</samp></p>-->
    <h1 class="display-6 mb-4"><img src="~/css/imgs/sedemp0001.png" style="width:400px;"/></h1>
    <!--<p>Secretaria de Desenvolvimento Econômico e Empreendedorismo</p>-->
</div>
<hr />
<div class="div-modulos mb-3">
    <a class="l-btn" href="#">PAT</a>
    <a class="l-btn" href="#">Banco do Povo</a>
    <a class="l-btn" href="#">Sebrae Aqui</a>
    <a class="l-btn" href="#">Sela do Empreendedor</a>
    <a class="l-btn" href="#">Sela do Empreendedor</a>
    <a class="l-btn" href="#">Sela do Empreendedor</a>
</div>
