@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindos!</h1>
    <!--<p><samp>A Intranet da</samp></p>-->
    <h1 class="display-6"><img src="~/css/imgs/n_logo_sedemp.jpeg" class="shadow-sm" style="height:100px;" /></h1>
    <p>Secretaria de Desenvolvimento Econômico e Empreendedorismo</p>
</div>
