@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mt-5 mb-4">
    <h4 class="display-6">Bem-vindos!</h4>
    <!--<p><samp>A Intranet da</samp></p>-->
    <h1 class="display-6 mt-4 mb-4"><img src="~/css/imgs/sedemp0001.png" style="width:400px;"/></h1>
    <!--<p>Secretaria de Desenvolvimento Econômico e Empreendedorismo</p>-->
</div>


<div class="div-modulos mb-3" hidden>
    <a class="l-btn shadow-sm" href="#">
        <span class="display-5 badge bg-secondary">PAT</span>        
        <p><i class="fas fa-industry mt-5" style="font-size:64px;"></i></p>
    </a>
    <a class="l-btn shadow-sm" href="#">
        <span class="display-5 badge bg-secondary">Banco do Povo</span>
        <p><i class="fas fa-hand-holding-usd mt-5" style="font-size:64px;"></i></p>
    </a>
    <a class="l-btn shadow-sm" asp-page="/SebraeAqui/Index">
        <span class="display-5 badge bg-secondary">Sebrae Aqui</span>
        <p><i class="fas fa-handshake mt-5" style="font-size:64px;"></i></p>
    </a>
    <a class="l-btn shadow-sm" href="#">
        <span class="display-5 badge bg-secondary">Espaço do Empreendedor</span>
        <p><i class="fas fa-building mt-5" style="font-size:64px;"></i></p>
    </a>
</div>
