@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mb-4">
    <h1 class="display-4">Bem-vindos!</h1>
    <!--<p><samp>A Intranet da</samp></p>-->
    <h1 class="display-6"><img src="~/css/imgs/sedemp0001.png" style="height:100px;" /></h1>
    <!--<p>Secretaria de Desenvolvimento Econômico e Empreendedorismo</p>-->
</div>
<hr />
<div class="div-modulos mb-3">    
    <a class="l-menu shadow btn btn-outline-info" href="#">PAT</a>
    <a class="l-menu shadow btn btn-outline-info" href="#">Banco do Povo</a>   
    <a class="l-menu shadow btn btn-outline-info" href="#">Sebrae Aqui</a>
    <a class="l-menu shadow btn btn-outline-info" href="#">Sela do Empreendedor</a>
</div>
