@using Sim.UI.Web.Pages.Empresa

<div class="navbar navbar-fixed">
    <nav class="navbar">
        <div class="nav-wrapper">
            <span class="brand-logo grey-text text-darken-4">Empresas</span>


            <ul class="right hide-on-med-and-down">
                <li hidden>
                    <a class="@EmpresaNavPages.InicioNavClass(ViewContext)" asp-page="./Index">Listar</a>
                </li>

                <li>
                    <a class="dropdown-trigger @EmpresaNavPages.ConsultaNomeNavClass(ViewContext)" data-target="dropdownemp" href="#">Consultar</a>
                    <ul id="dropdownemp" class="dropdown-content">
                        <li><a asp-page="./Index">por CNPJ</a></li>
                        <li><a asp-page="./Consulta-rs">por Razao Social</a></li>
                    </ul>
                </li>

                <li>
                    <a class="dropdown-trigger @EmpresaNavPages.JucespNavClass(ViewContext)" data-target="dropdownjucep" href="#">Base Jucesp</a>
                    <ul id="dropdownjucep" class="dropdown-content">
                        <li><a asp-page="./Jucesp">Consultar CNPJ</a></li>
                        <li><a asp-page="./Jucesp-consulta-razao">Consultar por Razão Social</a></li>
                        <li><a asp-page="./Jucesp-consulta-logradouro">Consultar por Endereço</a></li>
                        <li><a asp-page="./Jucesp-consulta-bairro">Consultar por Bairro</a></li>
                        <li><a asp-page="./Jucesp-consulta-atividade">Consultar por Atividade</a></li>
                    </ul>
                </li>

                <li class="nav-item" hidden>
                    <a class="nav-link" href="#">Relatórios</a>
                </li>
                @if (User.IsInRole("Administrador"))
                {
                    <li>
                        <a class="@EmpresaNavPages.MigraDataNavClass(ViewContext)" asp-page="./Migra.data">Migra Data</a>
                    </li>

                }
                <li class="light-blue lighten-4 waves-effect waves-light">
                    <form>
                        <a asp-area="" asp-page="./Add">Adicionar Empresa</a>
                    </form>
                </li>
            </ul>


        </div>
    </nav>
</div>
