@page
@model Sim.UI.Web.Pages.Empresa.Jucesp_consulta_razaoModel

@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Lista";
    ViewData["ActivePage"] = EmpresaNavPages.Jucesp;
}

<!--<partial name="_StatusMessage" model="Model.StatusMessage" />-->

<div class="section">
    <form method="post">
        <div class="row">
            <div class="col s12">
                <div class="col s6">
                    <div class="input-field right">
                        <input asp-for="Input.RazaoSocial" id="inputrz" />
                        <label asp-for="Input.RazaoSocial" for="inputrz"></label>
                    </div>
                </div>
                <div class="col s6">
                    <div class="input-field">
                        <button class="btn waves-effect" type="submit" role="button" ><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="card">
    <partial name="_EmpresaList" model="Model.Input.ListaEmpresas" />
</div>
