@page
@model Sim.UI.Web.Pages.Empresa.Jucesp_consulta_bairroModel

@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Lista";
    ViewData["ActivePage"] = EmpresaNavPages.Jucesp;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="mt-5 mb-5">
    <form method="post">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <div class="d-flex">
                <input asp-for="Input.Municipio" placeholder="Municipio" class="form-control form-control-sm me-2" style="max-width:150px;"/>
                <input asp-for="Input.Bairro" placeholder="Bairro" class="form-control form-control-sm me-2"  aria-describedby="button-addon2" style="max-width:250px;">
                <button class="btn btn-sm btn-outline-primary" type="submit" role="button" id="button-addon2"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>
</div>
<div>
    <partial name="_EmpresaList" model="Model.Input.ListaEmpresas" />
</div>