@page
@model Sim.UI.Web.Pages.Empresa.MigradataModel
@{
    ViewData["Title"] = "Migra-Data";
    ViewData["ActivePage"] = EmpresaNavPages.MigraData;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<partial name="_StatusMessage" model="Model.StatusMessage1" />

<partial name="_StatusMessage" model="Model.StatusMigration" />

<partial name="_StatusMessage" model="Model.StatusMessage2" />

<div class="col-md-4 mt-5 mb-5">
        <form method="post">
            <button class="btn btn-primary">iniciar Migração</button>
        </form>
</div>