
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Sim.App.Web</title>
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav id="navbar_top" class="navbar navbar-expand-lg navbar-light bg-light bg-white">
            <div class="container">                
                <a style="font-size:24px; margin-right:10px;" asp-area="" asp-page="/Index"><i class="fab fa-windows"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Início
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a class="dropdown-item" href="#"><i class="fas fa-industry"></i> PAT</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fas fa-hand-holding-usd"></i> Banco do Povo</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-page="/SebraeAqui/Index"><i class="fas fa-handshake"></i> Sebrae Aqui</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fas fa-building"></i> Espaço do Empreendedor</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Atendimento/Index">Atedimento</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Pessoa/Index">Clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Empresa/Index">Empresas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Agenda/Index">Agenda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Planner/Index">e-Planner</a>
                        </li>
                        @if (User.IsInRole("Administrador") || User.IsInRole("ModuloRFB"))
                        {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Censo" asp-page="/Empresas/Index">Censo</a>
                        </li>
                        }
                    </ul>
                    @if (User.IsInRole("Administrador"))
                    {
                        <div class="d-flex">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Gerenciar
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                        <li><a class="dropdown-item" asp-area="Settings" asp-page="/Common/Index">Sistema</a></li>
                                        <li><a class="dropdown-item" asp-area="Admin" asp-page="/Manager/Index">Contas</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    }
                    <partial name="_LoginPartial" />
                </div>                
            </div>
        </nav>     
        
    </header>
    
    <div class="container mt-3">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer border-top bg-light text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Sim.App.Web - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
