@using Microsoft.AspNetCore.Identity
@using Sim.Cross.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<div class="d-flex">
    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            var DisplayName = UserManager.Users.FirstOrDefault(m => m.UserName == User.Identity.Name).Name;

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Olá @DisplayName
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Meu Perfil">Meu Espaço</a></li>
                    @if (User.IsInRole("Administrador"))
                    {
                        <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Registrar</a></li>
                    }
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" title="Logout">Sair</a></li>
                </ul>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
            </li>
        }
    </ul>
</div>
