@using Microsoft.AspNetCore.Identity
@using Sim.Cross.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager




@if (SignInManager.IsSignedIn(User))
{
    var DisplayName = UserManager.Users.FirstOrDefault(m => m.UserName == User.Identity.Name).Name;


    <li class="bold waves-effect">
        <a class="collapsible-header">Olá @DisplayName<i class="material-icons chevron">chevron_left</i></a>
        <div class="collapsible-body">
            <ul>
                <li><a asp-area="Identity" asp-page="/Account/Manage/Index" class="waves-effect">Meu Espaço<i class="material-icons">person</i></a></li>
                @if (User.IsInRole("Administrador"))
                {
                    <li><a asp-area="Identity" asp-page="/Account/Register" class="waves-effect">Registrar<i class="material-icons">person</i></a></li>
                }
                <li><a asp-area="Identity" asp-page="/Account/Logout" class="waves-effect">Sasir<i class="material-icons">logout</i></a></li>
            </ul>
        </div>
    </li>
}
else
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Login">Entrar</a>
    </li>
}

