@using Sim.UI.Web.Areas.Censo.Pages.Empresas

<nav id="navbar_top" class="navbar navbar-expand-sm navbar-light shadow bg-body">
    <div class="container">
        <span class="text-primary me-2">Empresas</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
                <li class="nav-item" hidden>
                    <a class="nav-link @EmpresaNavPages.InicioNavClass(ViewContext)" asp-page="./Index">Listar</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle @EmpresaNavPages.ConsultaNomeNavClass(ViewContext) @EmpresaNavPages.ConsultaCNPJNavClass(ViewContext)" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Consultar</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-page="./Index">Por CNPJ</a></li>
                        <li><a class="dropdown-item" asp-page="./Consulta-razao-social">Razao Social</a></li>
                        <li><a class="dropdown-item" asp-page="./Consulta-socio">Nome Sócio</a></li>
                        <li><a class="dropdown-item" asp-page="./Consulta-cnae">Por Atividade</a></li>
                        <li><a class="dropdown-item" asp-page="./Consulta-logradouro">Por Logradouro</a></li>
                        <li><a class="dropdown-item" asp-page="./Consulta-bairro">Por Bairro</a></li>
                    </ul>
                </li>
                <li class="nav-item" hidden>
                    <a class="nav-link" href="#">Relatórios</a>
                </li>
                @if (User.IsInRole("Administrador"))
                {
                    <li class="nav-item">
                        <a class="nav-link @EmpresaNavPages.MigraDataNavClass(ViewContext)" asp-page="./Migra.data">Migra Data</a>
                    </li>
                }
            </ul>
            <form class="d-flex">
                <a asp-area="" asp-page="/Empresa/Add" class="btn btn-sm btn-outline-primary" title="Novo Evento">Adicionar Empresa</a>
            </form>
        </div>
    </div>
</nav>
