@page
@model Sim.UI.Web.Areas.Censo.Pages.Empresas.Consulta_socioModel

@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Lista";
    ViewData["ActivePage"] = EmpresaNavPages.ConsultaNome;
}
<!--<partial name="_StatusMessage" model="Model.StatusMessage" />-->

<form class="section" method="post">
    <div class="row">
        <div class="col s12">
            <div class="col s12 m4 l4">
                <div class="input-field">
                    <input asp-for="Input.Socios" />
                    <label asp-for="Input.Socios"></label>
                </div>
            </div>
            <div class="col s12 m2 l2">
                <div class="input-field">
                    <button class="btn waves-effect" type="submit" role="button"><i class="material-icons">search</i></button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="card">

    <partial name="_EmpresaList" model="Model.Input.ListaEmpresas" />

</div>