@page
@model Sim.UI.Web.Areas.Censo.Pages.Empresas.Consulta_cnaeModel

@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Lista";
    ViewData["ActivePage"] = EmpresaNavPages.ConsultaNome;
}
<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="mt-5 mb-5">
    <form method="post">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <div class="d-flex col-5">
                <select asp-for="Input.Municipio" placeholder="Municipio" class="form-select form-select-sm me-2" asp-items="@Model.ListaMunicipios"></select>
   
                    <select asp-for="Input.CNAE" class="form-select form-select-sm me-2" asp-items="@Model.ListaCnaes">
                        <option selected>-- Atividade --</option>
                    </select>
                    <button class="btn btn-sm btn-outline-primary" type="submit" role="button" id="button-addon2"><i class="fa fa-search"></i></button>
               
            </div>
        </div>
    </form>
</div>
<div>

    <partial name="_EmpresaList" model="Model.Input.ListaEmpresas" />

</div>
