@page
@model Sim.UI.Web.Areas.Censo.Pages.Empresas.Consulta_cnaeModel

@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Lista";
    ViewData["ActivePage"] = EmpresaNavPages.ConsultaNome;
}
<!--<partial name="_StatusMessage" model="Model.StatusMessage" />-->

<div class="card">
    <form method="post" class="row" style="border-bottom:solid 1px #efefef; margin-bottom:0px;">
        <div class="col s12 m6 l6 valign-wrapper left"  style="height:64px;">
            <div class="col s12">
                <select asp-for="Input.CNAE" class="browser-default" asp-items="@Model.ListaCnaes">
                    <option selected>-- Atividade --</option>
                </select>
            </div>
        </div>
        <div class="col valign-wrapper" style="height:64px;">
            <div class="col">
                <select asp-for="Input.Municipio" class="browser-default" asp-items="@Model.ListaMunicipios"></select>
            </div>
            <div class="col">
                <select asp-for="Input.Situacao" class="browser-default">
                    <option selected>Ativa</option>
                    <option>Nula</option>
                    <option>Suspensa</option>
                    <option>Inapta</option>
                    <option>Baixada</option>
                </select>
            </div>
            <div class="col">
                <button class="btn waves-effect waves-green" type="submit" role="button">Pesquisar</button>
            </div>
        </div>
    </form>
    <partial name="_EmpresaList" model="Model.Input.ListaEmpresas" />

</div>
