@page
@model Sim.UI.Web.Areas.Censo.Pages.Simples.Consulta_cnaeModel

@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Simples Nacional";
    ViewData["ActivePage"] = EmpresaNavPages.Simples;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="mt-5 mb-5">
    <form method="post">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <div class="d-flex">
                <select asp-for="Input.Municipio" placeholder="Municipio" class="form-select me-2" asp-items="@Model.ListaMunicipios"></select>
                <select asp-for="Input.CNAE" class="form-select me-2" asp-items="@Model.ListaCnaes" style="max-width:250px;">
                    <option selected>-- Atividade --</option>
                </select>
                <select asp-for="Input.OptanteSimples" class="form-select me-2">
                    <option value="opsimples" selected>Optante Simples</option>
                    <option value="opsimplesnaomei">Optante Não MEI</option>
                    <option value="opmei">Optante MEI</option>
                    <option value="excsimples">Exclusão do Simples</option>
                </select>
                <select asp-for="Input.Situacao" class="form-select me-2">
                    <option selected>Ativa</option>
                    <option>Nula</option>
                    <option>Suspensa</option>
                    <option>Inapta</option>
                    <option>Baixada</option>
                </select>
                <button class="btn btn-outline-primary" type="submit" role="button" id="button-addon2"><i class="fa fa-search"></i></button>

            </div>
        </div>
    </form>
</div>
<div>

    <partial name="./Empresas/_EmpresaList" model="Model.Input.ListaEmpresas" />

</div>
