@page
@model Sim.UI.Web.Areas.Censo.Pages.Simples.Consulta_bairroModel

@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Simples Nacional";
    ViewData["ActivePage"] = EmpresaNavPages.Simples;
}

<!--<partial name="_StatusMessage" model="Model.StatusMessage" />-->

<form class="section" method="post">
    <div class="row">
        <div class="col s12">
            <div class="col s12 m2 l2">
                <div class="input-field">
                    <select asp-for="Input.Municipio" asp-items="@Model.ListaMunicipios"></select>
                    <label asp-for="Input.Municipio"></label>
                </div>
            </div>
            <div class="col s12 m3 l3">
                <div class="input-field">
                    <input asp-for="Input.Bairro" />
                    <label asp-for="Input.Bairro"></label>
                </div>
            </div>
            <div class="col s12 m3 l3">
                <div class="input-field">
                    <select asp-for="Input.OptanteSimples">
                        <option value="opsimples" selected>Optante Simples</option>
                        <option value="opsimplesnaomei">Optante Não MEI</option>
                        <option value="opmei">Optante MEI</option>
                        <option value="excsimples">Exclusão do Simples</option>
                    </select>
                    <label asp-for="Input.OptanteSimples"></label>
                </div>
            </div>
            <div class="col s12 m2 l2">
                <div class="input-field">
                    <select asp-for="Input.Situacao">
                        <option selected>Ativa</option>
                        <option>Nula</option>
                        <option>Suspensa</option>
                        <option>Inapta</option>
                        <option>Baixada</option>
                    </select>
                    <label asp-for="Input.Situacao"></label>
                </div>
            </div>
            <div class="col s12 m2 l2">
                <div class="input-field">
                    <button class="btn waves-effect" type="submit" role="button"><i class="material-icons">search</i></button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="card">
    <partial name="./Empresas/_EmpresaList" model="Model.Input.ListaEmpresas" />
</div>