@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acesso negado";
}

<header class="row center">
    <h5 class="materialize-red-text">@ViewData["Title"]</h5>
    <p class="materialize-red-text">Você não tem acesso a este recurso.</p>
</header>
