@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Esqueceu a confirmação da senha";
}

<h5>@ViewData["Title"]</h5>
<p>
    Por favor, verifique seu e-mail para redefinir sua senha.
</p>

