@page
@model LockoutModel
@{
    ViewData["Title"] = "Bloqueado";
}

<header>
    <h5 class="text-danger">@ViewData["Title"]</h5>
    <p class="text-danger">Esta conta foi bloqueada, tente novamente mais tarde.</p>
</header>
