@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Verificação do código de recuperação";
}

<h5>@ViewData["Title"]</h5>
<hr />
<p>
    Você solicitou o login com um código de recuperação. Este login não será lembrado até que você forneça
    um código de aplicativo autenticador no login ou desabilite 2FA e faça login novamente.
</p>
<div>
        <form class="row col-md-4 g-3" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-md-12">
                <label asp-for="Input.RecoveryCode" class="form-label"></label>
                <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary">Conecte-se</button>
            </div>            
        </form>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
