@page
@model LoginModel

@{
    ViewData["Title"] = "Conecte-se";
}

@if (ViewBag.IsMessage == true)
{
<div class="alert alert-danger alert-dismissable fade show" role="alert">
    @ViewBag.Message
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
}


<div class="form-signin">    
        <section>
            <form id="account" method="post" class="text-center">
                <div class="logo-sim-lg"></div>               
                <h6 class="mb-3 fw-normal">Entrar no Sim Web</h6>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.UserName" type="text" class="form-control" id="floatingInput" placeholder="Identificador" />
                    <label asp-for="Input.UserName" for="floatingInput"></label>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Password" type="password" class="form-control" id="floatingsenha" placeholder="Senha"/>
                    <label asp-for="Input.Password" for="floatingsenha"></label>                    
                </div>
                <div class="form-check form-switch mb-3">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" class="form-check-input"/>
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary mb-3">Entrar</button>
                <div class="form-floating">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Esqueceu sua senha?</a>
                    </p>
                    <!--
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registre-se como um novo usuário</a>
                    </p>
                    -->
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Reenviar confirmação por email</a>
                    </p>

                </div>
            </form>
        </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
