@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação de redefinição de senha";
}

<h5>@ViewData["Title"]</h5>
<p>
    Sua senha foi alterada. <a asp-page="./Login"> Clique aqui para fazer o login </a>.
</p>
